body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    width: 300px;
}

li {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
}

li a:hover {
    color: #0066cc;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 1500px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="file"],
textarea,
select {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"],
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

fieldset {
    margin-bottom: 20px;
}

legend {
    margin-bottom: 10px;
}

label input[type="radio"],
label input[type="checkbox"] {
    margin-right: 10px;
}
